<!--
  Generated template for the GeneratePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Start Reviewing</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="instructions">
    <ion-card>
        <ion-card-header>
            <h3 class="header">REMEMBER</h3>
        </ion-card-header>
        <ion-list>
            <ion-item text-wrap>
                <ion-icon name="checkmark" class="checkmark" item-left></ion-icon>
                You have <strong>150 minutes</strong> to finish this exam.
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="checkmark" class="checkmark" item-left></ion-icon>
                Use the buttons above to navigate to the questions.
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="checkmark" class="checkmark" item-left></ion-icon>
                Feel free to skip the questions if ever you can't answer it.
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="checkmark" class="checkmark" item-left></ion-icon>
                Unanswered questions can be viewed by clicking menu button.
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="checkmark" class="checkmark" item-left></ion-icon>
                You can also jump to the questions directly using the menu button.
            </ion-item>
        </ion-list>

    </ion-card>

    <!--<h3 class="header margin-top-20">Symbols commonly used in questions</h3>
    <p>Unless otherwise noted in each question, the following notational conventions are applied as shown in the tables.</p>
    <h5>Standards</h5>
    <ion-grid class="table">
        <ion-row>
            <ion-col width-25>Notation in the exam questions</ion-col>
            <ion-col width-75>Name of the standard</ion-col>
        </ion-row>
        <ion-row *ngFor="let standard of standards">
            <ion-col width-25>{{standard.notation}}</ion-col>
            <ion-col width-75>{{standard.name}}</ion-col>
        </ion-row>
    </ion-grid>
    <h5>Logic Circuit</h5>
    <ion-grid class="table">
        <ion-row>
            <ion-col width-25>Graphic symbol</ion-col>
            <ion-col width-75>Explanation</ion-col>
        </ion-row>
        <ion-row *ngFor="let logicCircuit of logicCircuits">
            <ion-col width-25>
                <img src="{{'/build/pages/generate/images/' + logicCircuit.symbolUrl}}" [alt]="logicCircuit.symbolUrl">
            </ion-col>
            <ion-col width-75>{{logicCircuit.description}}</ion-col>
        </ion-row>
    </ion-grid>-->
    <button (click)="start()" block class="margin-top-20">Start</button>
</ion-content>